/*웹폰트연결(조선일보명조)*/
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChosunKm';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{margin: 0; padding: 0;}
ul{list-style: none;}
body{font-family: 'SCoreDream'; font-size: 22px; line-height: 34px; color: #181c14; background-color: #fffef8;}

figure{width: 100%; overflow: hidden;}
figure>img{display: block;}

/*brand*/
#brand{width: 100%; height: 1320px; box-sizing: border-box; background: url(../images/brand_bg.png) no-repeat; padding: 150px 0;}
h1{font-family: 'Chosunilbo_myungjo'; font-size: 90px; text-align: center; line-height: 90px;}
#brand>h1{margin-bottom: 100px;}
.b_cen{width: 1360px; margin: 0 auto; position: relative;}
.b_text{width: 830px; height: 460px; background-color: rgba(255, 255, 255, 0.7); position: absolute; padding: 30px; color: #181c14; box-sizing: border-box; z-index: 2;}
.title{font-family: 'SCoreDream'; font-weight: 400; font-size: 60px; line-height: 68px; margin-bottom: 30px;}
.title>span{font-weight: 500; font-size: 90px; padding-top: 10px; display: inline-block;}
.text{font-family: 'Noto Sans KR', sans-serif; font-weight: 300; line-height: 34px; margin-bottom: 30px;}
.b_button{display: flex; display: -moz-box; display: -ms-flexbox; display: -webkit-box;}
.b_button>p:nth-child(1){width: 32px; height: 32px; box-sizing: border-box; border: #181c14 solid 1px; border-radius: 12px 2px; position: relative;}
.b_button>p:nth-child(1)>a{font-size: 30px; display: block; position: absolute; top: -3px; padding: 0 7px;}
.b_button>p{margin-left: 15px; font-size: 20px; font-weight: 300;}
.b_button>p:nth-child(2)>a:hover{font-weight: 500;}
.b_button>p:nth-child(1)>a:hover{color: #fffef8;}
.b_button>p:nth-child(1):hover{background-color: #181c14;}
.b_img{position: absolute; top: 140px; right: 0;}

/*product*/
#product{width: 100%; display: flex; display: -moz-box; display: -ms-flexbox; display: -webkit-box; overflow: hidden;}
.p_left, .p_right{width: 960px; height: 1440px; box-sizing: border-box;}
.p_left>ul{width: 100%; box-sizing: border-box; display: block; display: flex; display: -moz-box; display: -ms-flexbox; display: -webkit-box; flex-wrap: wrap;}
.p_left>ul>li{width: 50%; height: 480px;}
.p_img>img{width: 100%; display: block;}
.p_title{width: 100%; box-sizing: border-box; font-size: 58px; line-height: 68px; font-family: 'Chosunilbo_myungjo'; text-transform: uppercase; text-align: center; padding: 130px 0 80px;}
.p_title .button{width: 100px; height: 50px; font-family: 'SCoreDream'; font-weight: 300; font-size: 18px; box-sizing: border-box; border: #181c14 solid 1px; border-radius: 10px 0; display: inline-block; text-align: center;}
.p_title>div>a{display: block; transform: translateY(-10px);}
.p_title>p{letter-spacing: -2px;}
.p_left>ul>li:nth-child(2)>p{margin-bottom: 130px;}
.p_left>ul>li:nth-child(3)>p{text-align: left; margin-bottom: 70px; padding-left: 135px;}
.p_left>ul>li:nth-child(6)>p{text-align: left; margin: 0 0 70px 90px;}
.p_title>div:hover{background-color: #181c14;}
.p_title>div:hover a{color: #fffef8;}
.p_right>img{width: 100%; display: block; }

/*best&new*/
#bestnew{background: url(../images/bestnew_bg.jpg) no-repeat; width: 100%; height: 1300px; padding: 150px 0 150px; box-sizing: border-box; background-size: cover;}
#bestnew>h1{font-family: 'Chosunilbo_myungjo'; font-size: 80px; text-align: center; margin: 50px 0 150px;}
.bn_cen{width: 1360px; margin: 0 auto; display: flex;}
.bn_text, .bn_img{height: 700px;}
.bn_text{width: 500px; background-color: rgba(255, 255, 255, 0.8); box-sizing: border-box; box-shadow: 0 10px 15px rgba(73, 73, 72, 0.15); margin: 0 80px 0 100px;}
.textswipe{padding: 50px 40px; box-sizing: border-box;}
.textswipe h3{font-size: 30px; font-weight: 400; margin-bottom: 40px;}
.textswipe h4{font-size: 30px; font-weight: 300; margin-bottom: 10px;}
.textswipe h2{font-size: 100px; font-weight: 500; line-height: 110px;}
.imgswipe{position: relative; width: 510px; height: 700px; box-sizing: border-box;}
.caption{display: inline-block; padding: 0 10px; color: #fffef8; font-size: 15px; font-weight: 400; margin-top: 50px;}
.bntext{font-size: 16px; font-family: 'Noto Sans KR', sans-serif; line-height: 22px; margin-top: 20px; font-weight: 400;}
.textswipe .h2_small{font-size: 80px; line-height: 85px;}
.p1{background-color: #c399bf;}
.p2{background-color: #e99b98;}
.p3{background-color: #659324;}
.purple{color: #ab7fa7;}
.pink{color: #e99b98;}
.p_bg{position: absolute; display: inline-block;}
.imgswipe>a{position: absolute; display: inline-block; bottom: -20px; left: 88px;}
.bn_nav{display: flex; font-size: 15px; font-weight: 500; margin: 20px 50px;}
.line{width: 52px; height: 2px; background-color: #181c14; transform: translateY(17px); margin: 0 10px;}
.number{display: inline-block;}

/*띠배너*/
#banner{width: 100%; height: 340px; padding: 75px 0; box-sizing: border-box; background: url(../images/nature1.jpg) no-repeat fixed; text-align: center;}
#banner>img{display: block; margin: 0 auto;}
#banner>img:nth-child(1){margin-bottom: 20px;}

/*curation*/
#curation{width: 100%; height: 1000px; background: url(../images/curation_bg.jpg) no-repeat; padding-top: 180px; box-sizing: border-box;}
.cur_cen{width: 1360px; margin: 0 auto; text-align: center;}
.event{width: 100%; box-sizing: border-box; margin: 100px 0 90px;}
.event>a{display: inline-block; overflow: hidden;}
.event>a:nth-child(1){margin-right: 30px; border-radius: 20px 0 0 0;}
.event>a:nth-child(2){border-radius: 0 0 20px 0;}
.cur_cen>a{font-size: 24px; font-weight: 300; display: inline-block; border: #181c14 solid 1px; width: 170px; padding: 15px 0; box-sizing: border-box; border-radius: 10px 0 10px 0;}
.cur_cen>a:hover{background-color: #181c14; color: #fffef8;}

/*contect*/
#contect{width: 100%; height: 925px; background-color: #354724; box-sizing: border-box; display: flex;}
.con_text{width: 970px; height: 922px; background: url(../images/contect_bg.png) no-repeat; box-sizing: border-box; padding: 250px 0 0 280px;}
.con_text>h1{text-align: left; margin-bottom: 80px;}
.con_text>p{font-family: 'Noto Sans KR', sans-serif; font-weight: 300; font-size: 22px; line-height: 34px; margin-bottom: 100px;}
.con_text>a{font-size: 24px; font-weight: 300; display: inline-block; border: #181c14 solid 1px; width: 170px; padding: 15px 0; box-sizing: border-box; border-radius: 10px 0 10px 0; text-align: center;}
.con_text>a:hover{background-color: #181c14; color: #fffef8;}
.con_img{width: 950px; height: 922px; box-sizing: border-box; overflow: hidden;}
.con_img>img{display: block;}